@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- Identity: Inclua aqui os campos novos do Identity -->
            <div class="form-group">
                <label asp-for="Input.Nome"></label>
                <input asp-for="Input.Nome" class="form-control" />
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CPF"></label>
                <input asp-for="Input.CPF" class="form-control" />
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Senha"></label>
                <input asp-for="Input.Senha" class="form-control" />
                <span asp-validation-for="Input.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SenhaConfirmacao"></label>
                <input asp-for="Input.SenhaConfirmacao" class="form-control" />
                <span asp-validation-for="Input.SenhaConfirmacao" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
