<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key ="SiteUrl" value="http://localhost:4200/home"/>
    <add key ="Site" value="http://localhost:4200/"/>
    <add key ="RegisterUrl" value="/inscricao"/>
    <add key ="LoginUrl" value="/entrar"/>
    <add key ="FolderPicture" value="\ScreenShots\"/>
    <add key ="ChromeDrive" value="C:\Carlos\VisualStudio\Projeto\Eventos.IO\packages\Selenium.WebDriver.ChromeDriver.2.46.0\driver\win32"/>

    <add key ="TestUserName" value="carlos_valenca@uol.com.br"/>
    <add key ="TestPassword" value="Temp@123"/>
  </appSettings>
  
  <specFlow>
    <language feature="pt-BR" />
    <unitTestProvider name="xUnit" /></specFlow>
</configuration>